.main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#8ab9d0, #f3d1c8);
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.arcs {
    margin-top: auto;
    animation: wave 2s infinite alternate;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    position: absolute;
    transition: transform 0.3s ease;
}
.image:hover {
    transform: translateY(-50px);
  }

  .rightflex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-end; 
  }
  
.blueFlower {
    margin-left: 100px;
    animation: blueFlower 12s linear infinite;
}

.pinkFlower {
    margin: 0;
    animation: blueFlower 10s linear infinite;
}


  @keyframes shakeAndMoveUp {
    0%, 100% { transform: translateX(0) translateY(0); }
    25%, 75% { transform: translateX(50px) translateY(-3px); }
    12.5%, 37.5%, 62.5%, 87.5%{ transform: translateX(50px) translateY(3px); }
    50% { transform: translateX(50px) translateY(-3px); }
  }
  .rocket {
    margin-top: 30px;
    margin-right: -10px;
    transition: transform 0.8s ease;
    background: none;
    border: none;
    cursor: pointer;

  }
  
  .rocket:hover {
    animation: shakeAndMoveUp 3s ease infinite; /* Apply the combined animation on hover */
  }

@keyframes blueFlower {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes wave {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40px);
    }
}