@font-face {
  font-family: "Retosta";
  src: url("/fonts/Retosta.otf") format("truetype"); /* Adjust the path and format according to your font file */
}

@font-face {
  font-family: "TextMeOne";
  src: url("/fonts/TextMeOne-Regular.ttf") format("truetype"); /* Adjust the path and format according to your font file */
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-BlackItalic.ttf") format("truetype"); /* Adjust the path and format according to your font file */
}

.main {
  overflow-x: hidden;
}

.header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  position: relative;
  /* overflow-x: hidden; */
  background-image: url("/PinkFloyd.svg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  /* d */
}

.Logo {
  width: 30%;
}

.nav{
  position: fixed;
  height: 20vh;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  position: relative;
  font-family: "Poppins", Arial, sans-serif;
  letter-spacing: 10px;
  font-size: 21dvh;
  top: 54dvh;
  left: 1vw;
  /* transform: translate(50%, 50%); */
  text-shadow: 2px 0 #df787a, -2px 0 #df787a, 0 2px #df787a, 0 -2px #df787a,
    1px 1px #df787a, -1px -1px #df787a, 1px -1px #df787a, -1px 1px #df787a;
  z-index: 4;
}

.date span {
  display: block;
  overflow: hidden;
  height: 20dvh;
}

.date span:nth-child(1) {
  display: block;
  animation: spanFadeIn 1s forwards;
}

.title {
  /* font-family: "Retosta", Arial, sans-serif; */
  font-family: "Poppins",  sans-serif;
  color: #df787a;
  font-size: 5rem;
  letter-spacing: 30px;
  text-transform: capitalize;
  position: absolute;
  bottom: 0%;
  left: 50%;
  text-wrap: nowrap;
  transform: translate(-50%, -50%);
  /* transform: translate(-10vw); */
  z-index: 5;

  animation: slideupTitle 2s;
}

.desc_part {
  background-color: #fcf7ee;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.desc_text {
  font-family: "TextMeOne", Arial, sans-serif;
  font-size: 24px;
  width: 40%;
  height: 100%;
  padding-top: 10%;
  padding-left: 1%;
}

.desc_content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.floatting_image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
  padding-top: 20vh;
}

.Group {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fragment1 {
  transform: translate(20%, 162%);
  width: 30%;
}

.fragment2 {
  width: 40%;
  transform: translate(75%, 65%);
}

.fragment3 {
  width: 40%;    
  transform: translate(72%, 106%);
}

.redFrag {
  transform: translate(95%, -194%);
    width: 35%;
}

.blueFrag {
  transform: translate(20%, -142%);
    width: 50%;
    z-index: 1;
}

.bottom_text {
  width: 100%;

  height: 20%;
  font-family: "Retosta", Arial, sans-serif;
  font-size: 200px;
}

.footer {
  transform: translate(-60%, 0px);
  text-wrap: nowrap;
}

.team {
  transform: translate(11%, -70%);
  width: 60%;
}

.redFrag2 {
  transform: translate(7%, 119%);

  width: 31%;
}

.blueFrag2 {
  width: 51%;
  transform: translate(33%, 19%);
}

@keyframes spanFadeIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideupTitle {
  from {
    opacity: 0;
    bottom: -10%;
  }
  to {
    opacity: 1;
    bottom: 0%;
  }
}
